*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.LoginBtn{
   
}


.nav-link{
    text-align: end;
    text-decoration: none;
    border-top: 50px;
}

.left{
    margin-left: 1000px;
    color: black;
}

.container{
    height: 200px;
    width: 1266px;
}



.btnGroup{
    color: rgb(2, 2, 2);
    background-color: rgb(252, 249, 249);
}

